body {
	margin: 0;
	padding: 0;

}
.red {
	background-color: ;
}
div.blue {

}
div.green {
z-index: 1000;
top: 50px
;
}
.yellow {
top: 
bottom
}
.red
.blue
.green
.yellow {
height: 200px;
width 
position: static absolute, fixed, relative;
display : block;
}