body {
	background: white;
/	font-family: Helvetica, sans-serif;
/}

.my-essay {
	margin: 20px 300px;
	font-size: 15px;
	line-height: 1.7em;

	}

.my-essay p {
	color: black;
	font-family: Times, serif;

}


h1 {
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: 3px;
	margin: 3em 0 1.5em 0;
	text-transform:uppercase;
	text-align: center;
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
	margin: 3em 0 1.5em 0;
}

i {
	font-style: italic;
}

.emphasis {

}

blockquote {
	font-style: italic;
	font-size: 1.5em;
	border-left: 3px solid purple;
	margin: 1.5em 0;
	padding: 0 0 0 2em;
}
