body {
	background: white;
	font-family: Helvetica, sans-serif;
	
	postion: absolute;
	font-size: 50px;



}
ul.student a.code-link:hover {
	background-color: #307Bdb;
	font-size: 0.5em;
}
ul.student a{
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #999;
}
ul.student a {
	color:white;
}
ul.student:hover {
	background: #fff;
}



ul.student a.code-link {
	font-size:20 ;
	padding: 0.2em 0.5em;
	letter-spacing: 1px;
	text-transform: uppercase;
	background: #000;
	float: left;
	position: relative;
	right: 1em;
	top: 25%;
	
	border-radius: 0.2em;
	transition: all 0.2s;

	margin: 20px 400px 2.5px 400px;

}

h2 {
	font-size: 0.7em;
	font-weight: bold;
	letter-spacing: 3px;
	text-transform: uppercase;
	
	margin: 20px 300px;

