body {
	background: white;
	font-family: Helvetica, sans-serif;
	position: absolute;



}
.my-essay34 {
	margin: 20px 200px;
	font-size: 15px;
	line-height: 1.7em;

	
}

.good2 {
	margin: 20px 320px;
	font-size: 15px;
	line-height: 1.7em;
}
.good1 {
	margin: 20px 220px;
	font-size: 15px;
	line-height: 1.7em;
}
.head {
	margin: 20px 520px;
	font-size: 13px;
	line-height: 1.5em;
	
}
.head2 {
	margin: 20px 550px;
	font-size: 12px;
	line-height: 1.7em;
}
.my-essay26 {
	margin: 20px 150px;
	font-size: 15px;
	line-height: 1.7em;
}

.my-essay {
	margin: 20px 320px;
	font-size: 15px;
	line-height: 1.7em;

	}
.my-essay25 {
	margin: 20px 280px;
	font-size: 15px;
	line-height: 1.7em;
}

.my-essay p {
	color: black;
	font-family: Times, serif;

}
.my-essay1  {
	margin: 20px 220px;
	font-size: 15px;
	line-height: 1.7em;
}
.my-essay1 p {
	color: black;
	font-family: Times, serif;

}
.my-essay2 p {
	color: black;
	font-family: Times, serif;

}
.my-essay3 p {
	color: black;
	font-family: Times, serif;

}
.my-essay4 p {
	color: black;
	font-family: Times, serif;

}
.my-essay5 p {
	color: black;
	font-family: Times, serif;

}
.my-essay6 p {
	color: black;
	font-family: Times, serif;

}
.my-essay7 p {
	color: black;
	font-family: Times, serif;

}
.my-essay8 p {
	color: black;
	font-family: Times, serif;

}
.my-essay9 p {
	color: black;
	font-family: Times, serif;

}
.my-essay10 p {
	color: black;
	font-family: Times, serif;

}
.my-essay99 p {
	color: black;
	font-family: Times, serif;

}
.my-essay88 p {
	color: black;
	font-family: Times, serif;

}
.my-essay2  {
	margin: 20px 220px;
	font-size: 15px;
	line-height: 1.5em;
}
.my-essay3  {
	margin: 20px 220px;
	font-size: 15px;
	line-height: 1.7em;
}
.my-essay4  {
	margin: 20px 220px;
	font-size: 15px;
	line-height: 1.7em;
}
.my-essay5  {
	margin: 20px 220px;
	font-size: 15px;
	line-height: 1.7em;
}
.my-essay6  {
	margin: 20px 220px;
	font-size: 15px;
	line-height: 1.7em;
}
.my-essay88  {
	margin: 20px 220px;
	font-size: 15px;
	line-height: 1.7em;
}
.my-essay99  {
	margin: 20px 220px;
	font-size: 15px;
	line-height: 1.7em;
}
.my-essay7 {
	margin: 20px 220px;
	font-size: 15px;
	line-height: 1.7em;
}
.my-essay8 {
	margin: 20px 220px;
	font-size: 15px;
	line-height: 1.7em;
}
.my-essay9 {
	margin: 20px 320px;
	font-size: 15px;
	line-height: 1.7em;
}
.my-essay10 {
	margin: 20px 353px;
	font-size: 15px;
	line-height: 1.7em;
}
.my-essay11 {
	margin: 20px 350px;
	font-size: 15px;
	line-height: 1.7em;
}
.my-essay12 {
	margin: 20px 450px;
	font-size: 15px;
	line-height: 1.7em;
}
.my-essay13 {
	margin: 20px 220px;
	font-size: 15px;
	line-height: 1.7em;


}
.my-essay14 {
	margin: 20px 120px;
	font-size: 15px;
	line-height: 1.7em;
}
p {
	margin: 3em 0 4em 0;
	display: block;
}
.image {
	margin: absolute;
	margin: ;
}
.p {

}

h2 {
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	
	margin: 3em 0 1.5em 0;
}
h3 {font-size: 1.5em;
	font-weight: bold;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	
	margin: 3em 0 1.5em 0;
}
h4 {font-size: 1.3em;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	
	margin: 3em 0 1.5em 0;
}
h5 {font-size: 1.5em;
	font-weight: bold;
	letter-spacing: 3px;
	text-transform: uppercase;
	
	margin: 3em 0 1.5em 0;
}
h6 {font-size: 1.5em;
	font-weight: bold;
	letter-spacing: 3px;
	text-transform: uppercase;
	
	margin: 3em 0 1.5em 0;


i {
	font-style: italic;
}



blockquote {
	font-style: italic;
	font-size: 1.5em;
	border-left: 3px solid purple;
	margin: 1.5em 0;
	padding: 0 0 0 2em;
}
