body {
	background: #CCCCCC;
	font-size: 100px
	font-family: Helvetica, Arial, "Comic Sanes";
}

H1 {

}

H4 {
	color: purple;
}

.special-subheading{
	font-family: "Comic Sans MS"
	font-size: 40px
}
	.shape {
		background: #cccccc;
		height: 500px;
		width: 300px;
		padding-left: 10px;
		padding-top: 10px;
		margin-left: 70px;
		border-left: 1px solid #000000;

		padding: 30px 20px 50px 80px;

	}
	;

	.YMGD {
		width: 10px;
		height: 10px;
	}

	a {
		color: green;

	}